@import url('cssReset.css');
h1{
    color: var(--primary-color);
    width: fit-content;
    margin: 50px auto 0;
}

#credentialsDiv{
    border: 2px solid var(--primary-color);
    width: 80%;
    margin: auto;
    height: 350px;
    padding: 35px 0 45px 0;
    border-radius: 10px;
    padding: 0 0 0 20px;
    margin-top: 50px;
}

span{
    color: var(--primary-color);
    font-weight: bold;
}

p{
    font-size: 23px;
}

p > #time, p > #date{
    color: black;
    font-weight: normal;
}

a{
    float: right;
    margin: 10px 23px 0 0;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
}
